.address-header {
	background-color: #fafcff;
	padding-bottom: 30px;
	border-bottom: 1px solid #e7eaf3;
}

.address-header > div > div > div:first-child {
	display: inline-block;
	min-width: 600px;
	vertical-align: top;
	height: 100px;
}

.address-header > div > div > div:last-child {
	display: inline-block;
	width: calc(100% - 600px);
	text-align: right;
	vertical-align: top;
	height: 100px;
}

.address-header > div > div > div:first-child > h3 {
	color: rgb(30, 32, 34);
	font-size: 20px;
	margin-block-end: 8px;
	margin-block-start: 28.5px;
}

.address-header > div > div > div:first-child > p {
	display: inline-block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #536d93;
	font-weight: 500;
	font-size: 15px;
	margin-block-start: 0px;
}

.address-header > div > div > div:last-child > h6 {
	color: #536d93;
	text-transform: uppercase;
	font-size: 13px;
	margin-block-end: 5px;
	margin-block-start: 29px;
}

.address-header > div > div > div:last-child > h6 > img {
	height: 13px;
	transform: translateY(1.5px);
	padding-left: 7px;
}

.address-header > div > div > div:last-child > p {
	font-size: 24px;
	font-weight: 500;
	display: inline-block;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.address-header > div > div > div:last-child > p > img {
	height: 19px;
	padding-right: 4px;
}

.address-header > div > div > div:last-child > p > span {
	color: #5a728c;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 400;
}

.address-button {
	border: none;
	background-color: rgba(105, 132, 170, 0.1);
	vertical-align: middle;
	margin: 0px 5px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	transition: ease-in-out 200ms;
}

.address-button:focus {
	outline: none;
}

.copy {
	transform: translateX(1.3px);
}

.address-button > svg {
	vertical-align: middle;
}

.address-button:hover {
	background-color: #536d93;
	box-shadow: 0 4px 11px rgba(105,132,170,.35);
}

.address-button:hover svg > path {
	fill: #fff !important;
}

.qr-style {
	padding: 5px 5px 2.5px 5px !important;
	margin-top: 7px !important;
}

.copy-style {
	margin-top: -3px !important;
	z-index: 2000;
}

@media screen and (max-width: 600px) {
	.address-header {
		padding-left: 5px;
	}
	.address-header > div {
		width: calc(95vw - 10px);
	}
}
@media screen and (max-width: 1000px) {
	.address-header {
		padding-bottom: 20px;
	}
	.address-header > div > div > div:first-child {
		border-bottom: 1px solid rgb(231, 234, 243);
	}
	.address-header > div > div > div {
		min-width: 100% !important;
		width: 100% !important;
		text-align: left !important;
	}
	.address-header > div > div > div:last-child > h6 {
		margin-block-start: 20px;
	}
}
