.home-split {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.home-split > div {
	display: inline-block;
	width: 49%;
	padding-top: 20px;
	vertical-align: top;
	text-align: left;
}

.home-split > div:nth-child(1) {
	margin-right: 1%;
}

.home-split > div:nth-child(2) {
	margin-left: 1%;
}

.home-cards {
	transform: translateY(0px) !important;
	margin-top: 20px;
}

@media screen and (max-width: 1000px) {
	.home-split > div {
		width: 100%;
		padding: 0px 0px 0px 0px !important;
		margin-left: 0px !important;
		margin-right: 0px !important;

	}
	.home-split {
		margin-top: 30px;
	}
}

#home-latest-block-sizing > div:nth-child(1) > div, #home-latest-transaction-sizing > div:nth-child(1) > div {
	min-width: 420px !important;
}

/* Table sizing --> blocks */
#home-latest-block-sizing > div > .rt-thead > div > div:nth-child(1), #home-latest-block-sizing > div > .rt-tbody > div > div > div:nth-child(1) {
	min-width: 100px !important;
	max-width: 100px !important;
} 

#home-latest-block-sizing > div > .rt-thead > div > div:nth-child(2), #home-latest-block-sizing > div > .rt-tbody > div > div > div:nth-child(2) {
	min-width: 100px !important;
	max-width: calc(100% - 320px) !important;
} 

#home-latest-block-sizing > div > .rt-thead > div > div:nth-child(3), #home-latest-block-sizing > div > .rt-tbody > div > div > div:nth-child(3) {
	min-width: 70px !important;
	max-width: 70px !important;
} 

#home-latest-block-sizing > div > .rt-thead > div > div:nth-child(4), #home-latest-block-sizing > div > .rt-tbody > div > div > div:nth-child(4) {
	min-width: 150px !important;
	max-width: 150px !important;
}

#home-latest-transaction-sizing > div > .rt-thead > div > div:nth-child(1), #home-latest-transaction-sizing > div > .rt-tbody > div > div > div:nth-child(1) {
	min-width: 70px !important;
	max-width: 70px !important;
} 

#home-latest-transaction-sizing > div > .rt-thead > div > div:nth-child(2), #home-latest-transaction-sizing > div > .rt-tbody > div > div > div:nth-child(2) {
	min-width: 45px !important;
	max-width: calc((100% - 330px) / 2);
} 

#home-latest-transaction-sizing > div > .rt-thead > div > div:nth-child(3), #home-latest-transaction-sizing > div > .rt-tbody > div > div > div:nth-child(3) {
	min-width: 45px !important;
	max-width: calc((100% - 330px) / 2);
} 

#home-latest-transaction-sizing > div > .rt-thead > div > div:nth-child(4), #home-latest-transaction-sizing > div > .rt-tbody > div > div > div:nth-child(4) {
	min-width: 140px !important;
	max-width: 140px !important;
} 

#home-latest-transaction-sizing > div > .rt-thead > div > div:nth-child(5), #home-latest-transaction-sizing > div > .rt-tbody > div > div > div:nth-child(5) {
	min-width: 120px !important;
	max-width: 120px !important;
} 
