.cardcontainer {
	display: flex;
	justify-content: space-between;
	height: auto;
}

.statscard {
	background-color: #fff;
	border: 1px solid rgb(231, 234, 243);
	border-radius: 8px;
	height: 80px;
	width: calc(31.5% - 17px);
	display: inline-block;
	padding-left: 17px;
	box-shadow: 0 0 35px rgba(127,150,174,.125);
}

.address-cards {
	transform: translateY(-30px);
}

.address-cards > div {
	width: calc(23.625% - 17px);
}

.statscard > h2 {
	color: #587299;
	font-weight: 600;
	font-size: 13.5px;
	text-transform: uppercase;
	margin-block-start: 18px;
}

.statscard > span {
	font-size: 17px;
	display: inline-block;
	margin-block-start: -4px;
}

.statscard > span > div > img {
	padding-left: 2px;
	height: 14px;
}

.status-light {
	height: 8px;
	width: 8px;
	display: inline-block;
	margin-right: 8px;
	margin-top: 6px;
	border-radius: 50%;
	transform: scale(1);
	vertical-align: top;
}

.status-offline {
	background-color: rgb(214, 2, 44);
	box-shadow: 0 0 0 0 rgba(214, 2, 44, 1);
	animation: pulsered 2s infinite;
}

.status-online {
	background-color: rgb(0, 190, 0);
	box-shadow: 0 0 0 0 rgba(0, 190, 0, 1);
	animation: pulsegreen 2s infinite;
}

@keyframes pulsered {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(214, 2, 44, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(214, 2, 44, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(214, 2, 44, 0);
	}
}

@keyframes pulsegreen {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 190, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(0, 190, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 190, 0, 0);
	}
}

@media screen and (max-width: 600px) {
	.address-cards {
		flex-direction: column !important;
	}
	.address-cards > div {
		width: 96% !important;
	}
	.address-cards > div:nth-child(3) {
		margin-bottom: 15px !important;
	}
}

@media screen and (max-width: 850px) {
	.statscard {
		width: calc(100% - 20px);
		margin-bottom: 15px;
	}
	.cardcontainer > div:nth-child(3) {
		margin-bottom: 0px;
	}
	.address-cards > div:nth-child(3), .address-cards > div:nth-child(4) {
		margin-bottom: 0px;
	}
	.cardcontainer {
		flex-direction: column;
	}
	.address-cards {
		flex-direction: row !important;
	}
}

@media screen and (max-width: 1000px) {
	.address-cards > div {
		width: calc(47.25% - 17px);
	}
	.address-cards > div:nth-child(1), .address-cards > div:nth-child(2) {
		margin-bottom: 15px;
	}
	.address-cards {
		flex-wrap: wrap;
	}
}
