.breadcrumbs {
	border-bottom: 1px solid #e7eaf3;
	padding: 2px 0px;
	margin-bottom: 24px;
}

.breadcrumbs > div {
	display: inline-block;
}

.breadcrumbs > div > span {
	background-color: #f8fafd;
	font-weight: 500;
	border-radius: 5px;
	font-size: 13px;
	padding: 2px 5px;
	color: #5a728c;
	display: inline-block;
	margin-block-end: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(95vw - 10px);
}

.breadcrumbs > div:last-child {
	float: right;
	padding-top: 5px;
}

.breadcrumbs > div > h1 {
	font-size: 22px;
	color: rgb(30, 32, 34);
}

.breadcrumbs > div > p {
	font-size: 15px;
	color: rgb(1, 33, 55);
	font-weight: 400;
}

.breadcrumbs > div > p > a {
	text-decoration: none;
	color: #337afe;
	transition: 50ms ease-in-out;
}

.breadcrumbs > div > p > a:hover {
	color: #0150e3 !important;
}

.breadcrumbs > div > p > span {
	color: #97a4af;
	font-weight: 500;
}

.breadcrumbs-address-tx > div > h1 {
	margin-block-end: 2px;
}

@media screen and (max-width: 1000px) {
	.breadcrumbs-address-tx {
		padding-bottom: 28px;
	}
	.breadcrumbs-address-tx > div {
		width: 100%;
		margin-bottom: 0px;
		padding-top: 0px !important;
	}
	.breadcrumbs-address-tx > div:last-child {
		margin-top: -17px;
	}
}

@media screen and (max-width: 600px) {
	.breadcrumbs {
		padding-bottom: 28px;
	}
	.breadcrumbs > div {
		width: 100%;
		margin-bottom: 0px;
		padding-top: 0px !important;
	}
	.breadcrumbs > div:last-child {
		margin-top: -20px;
	}
	.breadcrumbs-address-tx > div:last-child {
		margin-top: -17px;
	}
}
