.block-table {
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 0 35px rgba(127,150,174,.125);
	border: 1px solid rgb(231, 234, 243);
	margin: 25px 0px;
}

.block-table > span {
	color: #536d93;
	font-weight: 500;
	font-size: 18px;
	display: inline-block;
	margin: 15px 0px 15px 15px;
}

.block-table > div {
	width: 100%;
	display: inline-block;
	height: auto;
	overflow: auto;
}

.block-table > div > table {
	min-width: 100%;
	table-layout: fixed;
}

.block-table > div > table > thead > tr {
	background-color: #f8fafd;
	height: 40px;
	font-size: 13px;
	text-transform: uppercase;
	color: #5a728c;
	font-weight: 700;
}

.block-table > div > table > thead > tr > th {
	border-top: 1px solid rgb(231, 234, 243);
	border-bottom: 1px solid rgb(231, 234, 243);
}

.block-table > div > table > thead > tr > th:first-child {
	padding-left: 15px;
}

.block-table > div > table > tbody > tr {
	line-height: 40px;
	font-size: 15.5px;
}

.block-table > div > table > tbody > tr > td:first-child {
	padding-left: 15px;
	font-weight: 500;
	min-width: 220px;
	width: 220px;
}

.block-table > div > table > tbody > tr > td:last-child {
	padding-right: 15px;
}

@media screen and (max-width: 400px) {
	.block-table > div > table > tbody > tr > td:last-child {
		font-size: 11px;
		line-height: 30px;
	}
}

.block-table > div > table > tbody > tr > td {
	border-bottom: 1px solid rgb(231, 234, 243);
}

.block-table > div > table > tbody > tr > td > a {
	text-decoration: none;
	color: #337afe;
	transition: 100ms ease-in-out;
}

.block-table > div > table > tbody > tr > td > a:hover {
	color: #0150e3;
}

.block-table > div > table > tbody > tr:last-child > td {
	border-bottom: none;
}

.block-table:last-of-type {
	margin-bottom: 50px;
}
